.App {
  text-align: center;
}

.paginationBtn {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtn a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.paginationBtn a:hover {
  color: white;
  background-color: blue;
}

/* .paginationActive {
  color: white;
  background-color: blue;
} */