.App {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
}

.paginationBtn {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtn a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.paginationBtn a:hover {
  color: white;
  background-color: blue;
}

.paginationActive a {
  color: white;
  background-color: blue;
}

.result {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  margin: 5px 0px;
}

.resultName, .resultImg, .resultUnits, .resultSqft, .resultRange {
  padding: 0px 5px;
}

.resultName {
  font-size: 1.25rem;
}

.resultUnits, .resultSqft, .resultRange {
  font-size: 0.8rem;
}